scripts/sync.log
scripts/last_synced
hub
gh
nvim/.netrwhist
nvim/spell/*.spl
nvim/spell/*.sug
configstore
JetBrains
Microsoft

Code/*
!Code/User
Code/User/*
!Code/User/settings.json

azuredatastudio
dconf
chromium
*.conf
enchant
evolution
gedit
gnome*
gtk-*
ibus
keepassxc
libreoffice
menus
monitors.*
nautilus
onedrive
pipewire-*
pulse
procps
skypeforlinux
user-dirs.*
yelp

bash/secrets.env
